@model AtomicityExSalesProduct.Models.OrderedItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderedItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Product</dt>
        <dd class="col-sm-10">@Model.Product.Name</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Product.Price</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">User</dt>
        <dd class="col-sm-10">@Model.AppUser.Name</dd>

        <dt class="col-sm-2">Ordered At</dt>
        <dd class="col-sm-10">@Model.OrderedAt.ToString("yyyy-MM-dd HH:mm:ss")</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit"  asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
